{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 id="post_detail-title">{{ post.title }}</h2>
            <h3 id="post_detail-writer">By {{ post.writer }}</h3>
            <hr>
            {% if post.category %}
                <span class="badge badge-secondary float-right">{{ post.category }}</span>
            {% else %}
                <span class="badge badge-secondary float-right">미분류</span>
            {% endif %}
            <h5 id="post_detail-created_at">Posted on {{ post.created_at }}</h5>
            <hr>

            <!-- post_list에서 post에 대한 검증을 if 문으로 하고 오기 떄문에 추가 검증은 불필요 -->
            <p class="mt-4"><label for="post-content">내용 </label></p>

            {% if post.file_upload %}
                <label id="uploaded_file">첨부파일: </label>
                <a class="btn btn-primary" href="{{ post.file_upload.url }}" role="button" download>
                    {% if post.get_file_ext == 'csv' %}
                        <i class="fas fa-file-csv"></i>
                    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                        <i class="fas fa-file-excel"></i>
                    {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                        <i class="fas fa-file-word"></i>
                    {% else %}
                        <i class="far fa-file"></i>
                    {% endif %}

                    {{ post.get_file_name }}
                </a>
            {% endif %}

            {% if post.head_image %}
                <p><img id="post_detail-person" class="card-img-top mt-3" src="{{ post.head_image.url }}" alt="{{ post.title }} head image"></p>
            {% else %}
                {% comment %} <p><img id="post_detail-person" class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/10/7" alt="random_image"></p> {% endcomment %}
                <p>사진없음</p>
            {% endif %}
            
            <p id="post_detail-content">{{ post.content }}</p>
            <hr>
            <br>

            <!-- 댓글 작성을 위한 기본 폼은 계속 있어야 한다. --> 
            <h3>댓글</h3>
            <form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form.content }}
                <input type="submit" value="댓글 작성">
            </form>

            <!-- if 조건문으로 한번 거르고 값이 있으면, -->
            {% if comments %}
            <!-- 댓글 for 문 -->
                <ul>
                    {% for comment in comments %}
                        <!-- 댓 내용, 작성시간, 삭제버튼 -->
                        <li> 
                            <div class="d-inline">
                            {{ comment.content }} / {{ comment.created_at }} 
                            <form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value="X" class="btn">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
                <br>

            {% else %}
                <p>댓글이 없습니다.</p>
            {% endif %}
            <hr>
            <br>

            <!-- 태그 작성 화면 -->
            <h3>해시태그</h3>
            <form action="{% url 'blog:ht-write' pk=post.pk %}" method="post">
                {% csrf_token %}
                {{ hashtag_form.name }}
                <input type="submit" value="해시태그 작성">
            </form>

            <!-- hashtags -->
            <!-- if 조건문으로 한번 거르고 값이 있으면, -->
            {% if hashtags %}
            <!-- 댓글 for 문 -->
            <ul>
                {% for hashtag in hashtags %}
                    <li>
                        <div class="d-inline">
                        {{ hashtag }}
                        <form action="{% url 'blog:ht-delete' pk=hashtag.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" value="X" class="btn">
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <hr>

            {% else %}
                <p> 해시태그가 없습니다. </p><hr>
            {% endif %}
            <br>

            <!-- urls.py에서 글 수정하는 path의 name --> 
            {% if user.is_authenticated and post.writer|lower == request.user|lower %}
                <a href="{% url 'blog:list' %}" class="btn">목록으로</a>
                <a href="{% url 'blog:edit' pk=post.pk %}" class="btn">게시글 수정</a>
                <form action="{% url 'blog:delete' pk=post.pk %}" method="post" class="btn"> <!-- 메소드는 거의 http에서 get아니면 post다. -->
                    {% csrf_token %}
                    <input type="submit" value="게시글 삭제"> <!-- 해놓고 urls.py 수정 필요-->
                </form>
                
            {% else %}
                <!-- {{ post.writer }} / {{ request.user }}<br> -->
                <a href="{% url 'blog:list' %}" class="btn">목록으로</a>
            {% endif %}


        </div>

    </div>
</div>
{% endblock %}
