{% extends 'blog/base.html' %}

{% block content %}

    <!-- <h1>블로그 게시판 화면</h1> -->
    {% if user.is_authenticated %}
        <p id="post_list-welcome"><b>[{{ user.nickname }}]</b> 님 환영합니다, 블로그 게시판 메인 화면입니다.</p>
        <a id="post_list-write" href="{% url 'blog:write' %}" class="btn mt-3">글쓰기</a>
        {% comment %} <a id="post_list-gohome" href="{% url 'main' %}" class="btn">홈으로</a> {% endcomment %}
    {% else %}
        <p id="not-auth" class=""><b>[등록되지 않은 사용자]</b>입니다. 서비스 이용을 위해 로그인해주시기 바랍니다.</p>
    {% endif %}

    <!-- 글이 있을 때 테이블, 없을 때 특정문구 출력 -->
    <!-- 테이블 안에 티헤드, 티바디 --> 
    {% comment %} 일반 view 상속 시, {% if posts %} {% endcomment %}
    {% if post_list %}
        <table class="table mt-4">
            <thead>
                <tr class="centered1 font1">
                    <th>인물</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>글쓴이</th>
                    <th>작성날짜</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} 일반 view 상속 시, {% for post in posts %} {% endcomment %}
                {% for post in post_list %}
                    <tr class="centered2">
                        
                        <td>
                        {% if post.head_image %}
                            <img id="post_list-person" class="card-img-top" src="{{ post.head_image.url }}" alt="{{ post }} head image">
                        {% else %}
                            {% comment %} <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/10/7" alt="random_image"> {% endcomment %}
                            사진없음
                        {% endif %}
                        </td>

                        <!-- 'blog:detail blog: app_name, detail: urls.py에서의 name --> 
                        <td>
                            <a href="{% url 'blog:detail' pk=post.pk %}" class="btn">
                                {{ post.title }}
                                <!-- comment 갯수 타이틀 옆에 표기 -->
                                {% if post.comment_set.count > 0 %}
                                <span class="text-danger small ml-2">
                                    {{ post.comment_set.count }}
                                </span>
                                {% endif %}
                            </a>
                        </td>
                        <td>{{ post.content | truncatewords:5 }}</td>

                        {% if user.nickname and post.writer|lower == request.user|lower %}
                            <td>{{ user.nickname }}</td>
                        {% else %}
                            <td>{{ post.writer }}</td>
                        {% endif %}

                        <td>{{ post.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="no-list">작성된 게시물이 없습니다.</p>
    {% endif %}

    {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; 이전글</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; 이전글</a>
                </li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_previous_number }}">최신글 &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">최신글 &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}



