<div class="col-md-4 col-lg-3">
    <!-- Search Widget -->
    <div class="card my-4">
        <h2 id="post_list-search" class="card-header">검색</h2>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="search-input">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" onclick="searchPost();">찾기</button>
                </span>
            </div>
        </div>
    </div>

    <!-- category widget -->
    <div class="card my-4" id="categories-card">
        <h2 id="post_list-category" class="card-header">카테고리(미완성)</h2>
        <div class="card-body">
            <div class="row">
                <a id="category-elem1" href="/blog/category/programming/">programming(5)</a>
                <a id="category-elem2" href="/blog/category/no_category/">스티브잡스(3)</a>
                <a id="category-elem3" href="/blog/category/no_category/">앨런튜링(7)</a>
                <a id="category-elem4" href="/blog/category/no_category/">미분류(1)</a>
            </div>
        </div>
    </div>

</div>